.cardsize{
    width:300px;
    height:400px;
    border:solid 1px gray;
    margin:30px 0;
    color:gray;
    /* padding:0; */

}

.imagebox{
 width:210px;
 height:210px;
 /* border:solid 1px gray; */
 /* background-color:khaki; */
 margin:0 auto; 
}
.imageradius{
border-radius: 8px ; 
}

.textboxsize{
    width:210px;
    height:70px;
    /* background-color:green; */
    margin:20px 45px;
    font-size:0.7rem;
}

.cafename{
    margin:20px 30px;
    text-align:center;
}

.ex { 
    max-width: 10px;
    max-height: 10px;
  }