


.btnmod{
    justify-content: center;
	align-items: center;
    /* margin:20px  auto; */
    /* display:flex; */
    display:flex;
    background-color: #6e8496;
    border-radius: 5px;
}

.btnmod a{
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* padding: 4px 13px; */
    /* color: #fff; */
    /* background: rgba(34,34,34, .9); */
    /* border: 2px solid transparent; */
    /* font-size: 18px; */
    /* font-weight: 400; */
    /* text-transform: uppercase; */
    /* text-decoration: none; */
    /* letter-spacing: 2px; */
     
    /* -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; */
     
    /* -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); */
}
.btnmod:hover,
.btnmod:focus,
a.btnmod:hover,

a.btnmod:focus{
    cursor:pointer;
    font-weight: 18px;
    color: rgba(255,255,255, .85);
    background: rgba(0,0,0, .7);
    text-decoration: none;
    outline: none;
    
}
.btnmod:active{
    cursor: pointer !important;
    
}

.btnmod.btnlarge{
    padding: 12px 10px;
    font-size: 18px;
    justify-content: center;
	align-items: center;
} 

/* ==============================
   border黒枠ボタン
   ============================== */
.btnmod.btnborder{
    color: gray;
    border:1px solid gray;
    background: transparent;

}
.btnmod.btnborder:hover,
.btnmod.btnborder:focus{
    color: white;
    border-color: gray;
    background: gray;
}
