.cardsize{
    width:300px;
    height:400px;
    border:solid 1px gray;
    margin:30px 0;
    color:gray;
    /* padding:0; */

}

.imageboxsize{
 width:210px;
 height:210px;
 border:solid 1px gray;
 /* background-color:khaki; */
 margin:0 auto;
}

.textboxsize{
    width:240px;
    height:70px;
    /* background-color:green; */
    margin:20px 30px;
    font-size:0.7rem;
}

.cafename{
    margin:20px 30px;
    width:240px;
    /* 真ん中にしたい */
}

.ex { 
    max-width: 10px;
    max-height: 10px;
  }